#game-root {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 40px 20px;
}

#game-root canvas {
   border: 5px solid #44446f;
   border-radius: 20px;
   background-color: #000036;
}
